<a href="https://colab.research.google.com/github/theoreality/P1P1/blob/main/Project1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [62]:
import pandas as pd

In [97]:
df = pd.read_csv('/content/sales.csv')
print(df.head())

  Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0           FDA15         9.30  ...  Supermarket Type1          3735.1380
1           DRC01         5.92  ...  Supermarket Type2           443.4228
2           FDN15        17.50  ...  Supermarket Type1          2097.2700
3           FDX07        19.20  ...      Grocery Store           732.3800
4           NCD19         8.93  ...  Supermarket Type1           994.7052

[5 rows x 12 columns]

In [64]:
print(df)

     Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0              FDA15        9.300  ...  Supermarket Type1          3735.1380
1              DRC01        5.920  ...  Supermarket Type2           443.4228
2              FDN15       17.500  ...  Supermarket Type1          2097.2700
3              FDX07       19.200  ...      Grocery Store           732.3800
4              NCD19        8.930  ...  Supermarket Type1           994.7052
...              ...          ...  ...                ...                ...
8518           FDF22        6.865  ...  Supermarket Type1          2778.3834
8519           FDS36        8.380  ...  Supermarket Type1           549.2850
8520           NCJ29       10.600  ...  Supermarket Type1          1193.1136
8521           FDN46        7.210  ...  Supermarket Type2          1845.5976
8522           DRG01       14.800  ...  Supermarket Type1           765.6700

[8523 rows x 12 columns]

In [59]:
df.duplicated().any()

False

In [39]:
df.dtypes

Item_Identifier               object
Item_Weight                  float64
Item_Fat_Content              object
Item_Visibility              float64
Item_Type                     object
Item_MRP                     float64
Outlet_Identifier             object
Outlet_Establishment_Year      int64
Outlet_Size                   object
Outlet_Location_Type          object
Outlet_Type                   object
Item_Outlet_Sales            float64
dtype: object

In [40]:
df.isnull().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [41]:
df[df.isnull()]

     Item_Identifier  Item_Weight  ... Outlet_Type  Item_Outlet_Sales
0                NaN          NaN  ...         NaN                NaN
1                NaN          NaN  ...         NaN                NaN
2                NaN          NaN  ...         NaN                NaN
3                NaN          NaN  ...         NaN                NaN
4                NaN          NaN  ...         NaN                NaN
...              ...          ...  ...         ...                ...
8518             NaN          NaN  ...         NaN                NaN
8519             NaN          NaN  ...         NaN                NaN
8520             NaN          NaN  ...         NaN                NaN
8521             NaN          NaN  ...         NaN                NaN
8522             NaN          NaN  ...         NaN                NaN

[8523 rows x 12 columns]

In [42]:
df.mean()

Item_Weight                    12.857645
Item_Visibility                 0.066132
Item_MRP                      140.992782
Outlet_Establishment_Year    1997.831867
Item_Outlet_Sales            2181.288914
dtype: float64

In [43]:
df['Outlet_Size'].value_counts()

Medium    2793
Small     2388
High       932
Name: Outlet_Size, dtype: int64

In [44]:
df.dtypes

Item_Identifier               object
Item_Weight                  float64
Item_Fat_Content              object
Item_Visibility              float64
Item_Type                     object
Item_MRP                     float64
Outlet_Identifier             object
Outlet_Establishment_Year      int64
Outlet_Size                   object
Outlet_Location_Type          object
Outlet_Type                   object
Item_Outlet_Sales            float64
dtype: object

In [45]:
df['Item_Type'].value_counts()

Fruits and Vegetables    1232
Snack Foods              1200
Household                 910
Frozen Foods              856
Dairy                     682
Canned                    649
Baking Goods              648
Health and Hygiene        520
Soft Drinks               445
Meat                      425
Breads                    251
Hard Drinks               214
Others                    169
Starchy Foods             148
Breakfast                 110
Seafood                    64
Name: Item_Type, dtype: int64

In [46]:
df['Outlet_Size'].value_counts()/(2793+2388+932)

Medium    0.456895
Small     0.390643
High      0.152462
Name: Outlet_Size, dtype: float64

In [67]:
df[df['Outlet_Size'].isnull()][1101:1102]

     Item_Identifier  Item_Weight  ...    Outlet_Type  Item_Outlet_Sales
3810           NCQ30        7.725  ...  Grocery Store           121.8414

[1 rows x 12 columns]

In [68]:
df['Outlet_Size'][0:3811].fillna(value = 'Medium' , inplace = True)

In [70]:
df[df['Outlet_Size'].isnull()][941:942]

     Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
7183           NCW53        18.35  ...  Supermarket Type1          2116.5782

[1 rows x 12 columns]

In [71]:
df['Outlet_Size'][0:7184].fillna(value = 'Small' , inplace = True)

In [72]:
df['Outlet_Size'].fillna(value = 'High' , inplace = True)

In [73]:
df.isnull().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                     0
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [74]:
df['Outlet_Size'].value_counts()

Medium    3895
Small     3330
High      1298
Name: Outlet_Size, dtype: int64

In [75]:
df['Item_Weight'].fillna(value = df['Item_Weight'].mean(), inplace = True)

In [76]:
df.isnull().sum()

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

In [77]:
df

     Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0              FDA15        9.300  ...  Supermarket Type1          3735.1380
1              DRC01        5.920  ...  Supermarket Type2           443.4228
2              FDN15       17.500  ...  Supermarket Type1          2097.2700
3              FDX07       19.200  ...      Grocery Store           732.3800
4              NCD19        8.930  ...  Supermarket Type1           994.7052
...              ...          ...  ...                ...                ...
8518           FDF22        6.865  ...  Supermarket Type1          2778.3834
8519           FDS36        8.380  ...  Supermarket Type1           549.2850
8520           NCJ29       10.600  ...  Supermarket Type1          1193.1136
8521           FDN46        7.210  ...  Supermarket Type2          1845.5976
8522           DRG01       14.800  ...  Supermarket Type1           765.6700

[8523 rows x 12 columns]

In [80]:
testw = df['Item_Weight'] < 10
df[testw]

     Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0              FDA15        9.300  ...  Supermarket Type1          3735.1380
1              DRC01        5.920  ...  Supermarket Type2           443.4228
4              NCD19        8.930  ...  Supermarket Type1           994.7052
15             FDP49        9.000  ...  Supermarket Type1          1547.3192
17             FDP49        9.000  ...  Supermarket Type1           718.3982
...              ...          ...  ...                ...                ...
8507           FDN28        5.880  ...  Supermarket Type1           515.9950
8509           FDG45        8.100  ...      Grocery Store           424.7804
8518           FDF22        6.865  ...  Supermarket Type1          2778.3834
8519           FDS36        8.380  ...  Supermarket Type1           549.2850
8521           FDN46        7.210  ...  Supermarket Type2          1845.5976

[2377 rows x 12 columns]

In [101]:
testp = df['Item_MRP'] == 0 # MRP is 0 ?
df[testp]

Empty DataFrame
Columns: [Item_Identifier, Item_Weight, Item_Fat_Content, Item_Visibility, Item_Type, Item_MRP, Outlet_Identifier, Outlet_Establishment_Year, Outlet_Size, Outlet_Location_Type, Outlet_Type, Item_Outlet_Sales]
Index: []

In [86]:
df['Outlet_Type'].value_counts() # checking inconsistent cat

Supermarket Type1    5577
Grocery Store        1083
Supermarket Type3     935
Supermarket Type2     928
Name: Outlet_Type, dtype: int64

In [105]:
df['Item_Type'].value_counts() # checking inconsistent cat

Fruits and Vegetables    1232
Snack Foods              1200
Household                 910
Frozen Foods              856
Dairy                     682
Canned                    649
Baking Goods              648
Health and Hygiene        520
Soft Drinks               445
Meat                      425
Breads                    251
Hard Drinks               214
Others                    169
Starchy Foods             148
Breakfast                 110
Seafood                    64
Name: Item_Type, dtype: int64

In [106]:
df['Item_Identifier'].value_counts() # checking inconsistent cat

FDG33    10
FDW13    10
FDX31     9
NCL31     9
FDF52     9
         ..
FDC23     1
FDE52     1
FDT35     1
DRF48     1
FDO33     1
Name: Item_Identifier, Length: 1559, dtype: int64

In [90]:
df['Item_Weight'].max()

12.857645184136409

In [88]:
df['Item_Weight'].min()

4.555

In [89]:
df['Item_Weight'].mean()

12.857645184136409

In [91]:
df['Item_Visibility'].max()

0.328390948

In [92]:
df['Item_Visibility'].min()

0.0

In [93]:
df['Item_Visibility'].mean()

0.06613202877895127

In [102]:
df['Item_MRP'].max()

266.8884

In [103]:
df['Item_MRP'].min()

31.29

In [104]:
df['Item_MRP'].mean()

140.9927819781768

In [107]:
df['Item_Outlet_Sales'].max()

13086.9648

In [108]:
df['Item_Outlet_Sales'].min()

33.29

In [109]:
df['Item_Outlet_Sales'].mean()

2181.2889135750365